@CHARSET "UTF-8";

/*loginForm.jsp css*/
.input_row {
    position: relative;
    height: 50px;
    margin: 0 0 14px;
    padding: 10px 35px 10px 15px;
    border: solid 1px #dadada;
    background: #fff;
}
.input_box1{
	height: 29px;
}
.int {
    font-size: 15px;
    line-height: 16px;
    position: relative;
    z-index: 9;
    width: 100%;
    height: 30px;
    padding: 7px 0 6px;
    color: #000;
    border: none;
    background: #fff;
    -webkit-appearance: none;
    margin: 0px;
}
.lbl {
    font-size: 15px;
    line-height: 16px;
    position: absolute;
    z-index: 8;
    top: 16px;
    left: 15px;
    color: #999;
    display: none;
}

.btn_global {
    font-size: 20px;
    font-weight: 700;
    line-height: 61px;
    display: block;
    width: 100%;
    height: 61px;
    margin: 50px 0 60px 0;
    padding-top: 2px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 0;
    background-color:#fc7700;/*#888;*/
    -webkit-appearance: none;
}
.error {
    font-size: 20px;
    line-height: 16px;
    margin: -2px 0 12px;
    color: #ff1616;
}
.login_subject{
	margin:100px;
}
.sub_member{
	margin-bottom:100px;
}

/*sns.passConfirm.jsp css*/

.btn_passc{
	font-size: 15px;
    font-weight: 700;
    line-height: 50px;
    display: block;
    width: 100%;
    height: 40px;
    margin: 10px 0 20px 0;
   
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 0;
    background-color:#fc7700;/*#888;*/
    -webkit-appearance: none;
}

.sns_update_confirm{
	margin: 0 0 50px 0;
}
.mini_subject{
	font-size: 20px;
	margin: 0 0 20px 10px;
}
.mini_table td{
	border: 1px double gray;
}

/*sns.snsjoin.jsp css*/

.join_table td{
	padding-bottom: 10px;
}
.dup{
	border: none;
	padding: 5px;
	font-size: 10px;
}
.dup2{
	border: none;
	padding: 3px 12px 3px 12px;;
	font-size: 11px;	
}

.join_subject{
	font-size: 30px;
	margin: 50px 0 25px 10px;
	font-weight: 700;
	color:#fc7700;s
}
.Snsaccount{
	background-color: #f5f5f5;
}
.Snsaccount td{
	padding:10px;
	text-align: center;
}
.join-mini-subject{
	background-color: #43484E;
	border-top-right-radius: 30px;
	color: #fff;
}
.join-btn{
	background-color: #fc7700;
	padding: 5px 100px 5px 100px;
	color:#fff;
	border: none;
	margin-bottom: 30px;
	border-radius: 5px;
}
.join-btn:hover{
	background-color: #43484E;
	
}

/*joinIdCheck.jsp*/
.bg_gray{
	background-color:#e3e3e3 !important;
}

.idCheckForm{
	margin-bottom: 50px;
}
.idCheck{
	color:#43484E;
}
.bigIdCheck{
	background-color:#fff;
	border:1px solid #fff; 
	color: red;
	position: relative;
	top:50px;
	text-align: center;
	padding: 50px 10px 50px 10px;
	border-radius:10px; 
}
.idCheckBtn{
	border:none;
	background-color: #fc7700;
	padding: 10px 40px 10px 40px;
	margin-top: 40px;
	color: #fff;
	border-radius: 5px;
}
.idCheckBtn:hover{
	background-color: #43484E;
}
.idCheckTxt{
	border: none;
	border-bottom: 2px double #c3c3c3;
}

.idCheckbtn2{
	border: none;
	padding: 5px;
	border-radius: 5px;
	font-size: 11px;
}
/*vendorView.jsp*/
.vendor_info{
	margin: 10px 0 30px 50px;
}

.info-top-tit{
	color:#fff;
	font-size:25px;
	background-color: #fc7700;
	border-top-right-radius: 30px;
	margin:30px 0 30px 20px;
	padding: 5px 0 5px 0;
}

.info-tit{
	background-color: #e3e3e3;
	border-left: 5px solid #fc7700;
	padding: 5px 10px 5px 10px;
	text-align: center;
}
.info-con{
	padding: 5px 10px 5px 10px;
	margin-bottom: 15px;
}
.ok-btn{
	border: none;
	background-color: #43484E;
	padding: 10px 150px 10px 150px;
	color: #fff;
	margin: 30px 0 50px 0;
}
